Source: sitar
Section: unknown
Priority: optional
Maintainer:  <waldemar.brodkorb@web.de>
Standards-Version: 3.2.1

Package: sitar
Architecture: any
Description: SITAR - System InformaTion At Runtime
 Prepare system information using perl, reading the /proc filesystem. 
 Output is in HTML and LaTeX (planned: XML, SQL) and can be converted to PostScript and PDF.

