/* 
	name		:	me.css
	history		:	03.05.1997, ..., 10.09.1997
	author(s)	:	Matthias Eckermann

*/

/* 1. */

BODY            { background: #FFFFFF; color: #000000; }
table           { font-family: sans-serif; }
P               { font-family: serif;  text-align: justify;
                  text-indent: 1em; }
P.noparindent   { font-family: serif;  text-align: justify;
                  text-indent: 0em;    margin-bottom: 0mm; }
P.specialindent { font-family: sans-serif;  text-align: justify;
                  text-indent: -1em;   padding-left: 1em ; max-width: 40em}
P.specialsmall  { font-family: sans-serif;  text-align: justify;
                  text-indent: -1em;   padding-left: 1em ;
                  max-width: 40em ; font-size: medium ;}

H1, H2, H3, H4, H5 { text-align: center ; font-family: sans-serif }
H1                 { font-size: large ; line-height: 200%  }
H2 	           { font-size: medium ; line-height: 150% }
H3 	           { font-size: medium ; line-height: 120% }
H1.menu	           { font-size: medium ; line-height: 80% ; text-align: center ; font-family: sans-serif ; font-weight: bold ; vertical-align: middle ; }
H2.menu	           { font-size: medium; line-height: 80% ; text-align: center ; font-family: sans-serif ; font-weight: normal ; vertical-align: middle ; }
/* STRONG             { font-style: normal; font-weight: bold } */
/* STRONG             { font-family: sans-serif ; font-weight: normal } */
EM	           { font-style: italic }
.smenu		   { font-style: normal ;
		     font-family: sans-serif ; 
		     font-size: small ;
		     font-weight: normal ;
		     text-align: center ; 
		     vertical-align: middle ;
		     font-family: sans-serif }
.menu		   { font-style: normal ;
		     font-family: sans-serif ; 
/*		     font-size: medium ; */
		     font-weight: normal ;
		     text-align: center ; 
		     vertical-align: middle ;
		     font-family: sans-serif }
.fmenu		   { font-style: normal ;
		     font-family: sans-serif ; 
/*		     font-size: medium ; */
		     font-weight: bold ;
	   	     line-height: 150% ;
		     text-align: center ; 
		     vertical-align: middle ;
		     font-family: sans-serif }

.menu A         { text-decoration: none; }
.lmenu A        { text-decoration: none; }
.smenu A        { text-decoration: none; }


/* 2. */ 

LI { font-family: sans-serif; text-indent: 0em;}
UL P     { font-family: sans-serif; text-indent: 0em; }
OL P     { font-family: sans-serif; text-indent: 0em }
UL       { margin-left: 2em; list-style-type: disk ; font-family: sans-serif; }
UL UL    { list-style-type: circle}
UL UL UL { list-style-type: square }
OL       {  font-family: sans-serif;  list-style-type: decimal; }
OL OL    { list-style-type: lower-alpha }
OL OL OL { list-style-type: upper-alpha }

/* 3. Tables */

table { font-family: sans-serif; }
TH { font-family: sans-serif; text-indent: 0em;}
TD { font-family: sans-serif; text-indent: 0em;}

